parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days
    debugger: %debugMode%

di:
    parentClass: App\DI\Container
    export:
#        parameters: no
        tags: no
        #types: []


services:
    router: App\RouterFactory::createRouter

    - App\ParametersService

includes:
    - parameters.neon
    - topic/database.neon
    - topic/hyperrow.neon
