parameters:
    database:
        default:
            host: localhost
            dbname: ***
            user: ***
            password: ***

application:
#    catchExceptions: yes

tracy:
#    maxLength: 1000
#    maxDepth: 5
#    showBar: no
