<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Skeleton</title>

    {block head}
        <link rel="stylesheet" href="{$basePath}/ven/bootstrap/4.5.2/dist/css/bootstrap.css">
        {*<link rel="stylesheet" href="{$basePath}/css/screen.css">*}
    {/block}
</head>

<body>

{include '@navbar.latte'}

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, alert, 'alert-'.$flash->type">{$flash->message}</div>

<div class="container-fluid">
    {include content}
</div>

{block scripts}
    <script src="{$basePath}/ven/jQuery/3.5.1/dist/jquery.js"></script>
    <script src="{$basePath}/ven/bootstrap/4.5.2/dist/js/bootstrap.bundle.js"></script>
    <script src="{$basePath}/ven/nette/forms/3.0.6/netteForms.js"></script>
{/block}
</body>
</html>
